body {
    background-image: url(../images/body.jpg);
    margin: 0;
    padding: 0;
    align-content: center;
}

.logo {
    margin-top: 35px;
    font-size: 650px;
    align-content: center;
    margin-left: 145px;
}

.menu {
    font-size: 45px;
    letter-spacing: 8px;
    margin-left: 100px;
}

.menuStyle {
    font-size: 85px
}

.row {
    width: 1050px;
    border-style: dashed;
    color: fuchsia;
    margin-left: 25px;
}

.display {
    display: flex;
}

.form {
    width: 900px;
    height: 300px;
    border: 2px solid whitesmoke;
    margin-bottom: 12px;
    margin-left: 85px;
    margin-top: 35px;
    padding-top: 25px;
}
.textStyle{
    background-color: snow;width: 150px;height: 45px;border: 2px dashed black;padding-left: 135px;margin-left: 55px;
}
.texyAreaStyle{
"background-color: snow;width: 340px;height: 95px;border: 2px dashed black;padding-left: 135px;margin-left: 55px;
}

.form1 {
    width: 950px;
    height: 500px;
    border: 2px dashed silver;
    margin-bottom: 12px;
    margin-left: 85px;
    margin-top: 35px;
    padding-top: 25px;
}

.table {
    font-size: 25px;
    padding: 5px;
    color: black;
}

.form3 {
    padding-top: 0;
    width: 900px;
    height: 400px;
    margin-left: 170px;
}

.smallForm {
    width: 60px;
    height: 5px;
    border: 2px dashed;
    padding: 15px;
}